@import '../css/components/variables';
@import '../css/components/placeholder-selectors';
@import '../css/components/global';

//aqui tu colocas cosas espeificas como formas secciones dentro del div etc
#{$body}{
    //el scroll lo puedes inclui dentro del body si es por componente o de manera global si no tiene componentes
    @include scrollDesing(6px,5px,#4e4e4e,#808080);
    //de moneto para no cagarm la visata xd
    height: 100vh;
    display: grid;
    grid-template-rows: 3rem calc(100vh - 3.2rem);
    gap: 0.2rem;
    .header{
        display: grid;
        grid-template-columns: calc(20% - 0.25rem) 60% calc(20% - 0.25rem);
        background-color: #343434;
        height: 3rem;
        gap: 0.25rem;
        &__logo{
            @extend %f-aic__c;
            margin: 0 2rem;
        }
        &__options{
            display: grid;
            grid-template-columns: auto auto;
            align-items: center;
            gap: 0.25rem;
            &--center{
                display: grid;
                align-items: center;
                grid-template-columns: repeat(6,10%) 1fr 1fr;
                gap: 0.25rem;
            }
        }
        &__text{
            padding: 0 0.5rem;
            background-color: #4a4a4a;
            font-weight: 600;
        }
        & .currency{
            color: red;
        }
    }
    .btn{
        &.notification{
            position: relative;
            & .autoservice{
                position: absolute;
                top: 3px;
                border: 1px solid red;
                border-radius: 100%;
                min-width: 18px;
                font-size: 12px;
                right: 3px;
            }
        }
        &.option{
            @extend %f-aic__c;
            height: 2.5rem;
            //width: 25%;
            background-color: #4e4e4e;
            i {
                font-size: 18px;
            }
        }
        &.race{
            height: 4rem;
            padding: 0.25rem;
            font-size: 10px;
            display: grid;
            justify-items: center;
            align-items: center;
            background: linear-gradient(45deg, rgba(19,19,19,1) 0%, rgba(68,68,68,1) 65%, rgba(76,76,76,1) 100%);
            &.active{
                background: linear-gradient(45deg, #81007a, #cd0086);;
            }
            & img{
                width: 2.8rem;
            }
        }

        &.nrace{
            width: 2rem;
            padding: 0.25rem;
            &.active{
                background: linear-gradient(45deg, #81007a, #cd0086);
            }
        }
        &.type-bet{
            width: 5.5rem;
            &.active {
                background: linear-gradient(45deg, #81007a, #cd0086);
            }
        }

        &.close{
            width: auto;
            background: transparent;
            padding: 0;
            & i:hover {
                color: #bf0cac;
              }
            &-pdf{
              position: absolute;
              width: 2.25rem;
              height: 2.25rem;
              right: 1rem;
              top: 0.5rem;
              background-color: #b40606;
              font-size: 18px;
              display: flex;
              align-items: center;
              justify-content: center;
            }
        }
        &.key{
            width: 3rem;
            height: 3rem;
            font-size: 20px;
            &.space {
                width: 10rem;
                color: transparent;
                background-image: url("#{$key-space}");
                background-repeat: no-repeat;
                background-size: 25px;
                background-position: center;
            }
            &.backspace {
                background-image: url("#{$backspace}");
                background-size: 25px;
                background-repeat: no-repeat;
                background-position: center;
                color: transparent;
              }
        }
        &.filter{
            padding: 0.25rem;
            background-color: #444444;
            border-radius: 0;
            &::after {
                display: inline-block;
                margin-left: 0.4rem;
                content: "";
                border-top: 0.35rem solid;
                border-right: 0.35rem solid transparent;
                border-bottom: 0;
                border-left: 0.35rem solid transparent;
                vertical-align: middle;
            }
        }

    }
    .ipt{
        &.data{
            border-radius: 0;
            padding: 0 0.5rem;
        }
        &.date{
            @include iptDate("dark");
            background-color: #7e7e7e;
            padding: 0.35rem 0.5rem;
        }
        @include searchIpt(#252525,inherit,100%);
    }

    //.input{
    //    @extend %input;
    //    &.pais{
    //        width: auto;
    //    }
    //}
    .main{
        display: grid;
        grid-template-columns: calc(20% - 0.25rem) 60% calc(20% - 0.25rem); 
        gap: 0.25rem;
        &__left{
            display: grid;
            grid-template-columns: 25% 75%;
        }
    }
    .limit-ap{
        display: grid;
        grid-template-columns: repeat(3, auto);
        background-color: #444444;
        border-radius: 0.25rem;
        gap: 0.25rem;
        padding: 0.5rem;
    }

    .talon{
        display: flex;
        color: #e0ae3f;
        text-align: center;
        padding: 0.2rem 0;
        background-color: #464646;
        align-items: center;
        justify-content: space-around;
        text-transform: uppercase;
    }
    .t-apuestas{
        min-height: 60vh;
        background-color: #444444;
    }
    //modales config
    .autoservice{
        &__options{
            display: flex;
            gap: 0.5rem;
            justify-content: end;
        }
        & .btn{
            width:  2.5rem;
          &.reload{
            background-color: #007bff;  
          }
          &.delete{
            background-color: #dc3545;
          }
        }
        &__count{
            position: absolute;
            top: 3px;
            border: 1px solid red;
            border-radius: 100%;
            width: 18px;
            background-color: transparent;
            font-size: 12px;
            right: 3px;
            pointer-events: none;
            padding: 0;
            text-align: center;
        }
        &__users{
            max-height: 70vh;
            overflow: auto;
        }

    }
    .userticket{
        &__ticket{
            display:grid;
            gap:1rem;
        }
        &__data{
            display: grid;
            grid-template-columns: auto auto;
            align-items: center;
            gap: 0.25rem;
        }
        &__betinfo{
            display: grid;
            gap: 0.25rem;
            grid-template-columns: repeat(3, auto);
            justify-content: space-around;
            padding-bottom: 0.5rem;
            border-bottom: 1px solid grey;
        }
        &__betdata{
            max-height: 35vh;
            overflow: auto;
        }
        &__player{
            font-size:1.5rem;
            text-transform: uppercase;
        }
        &__codebar{
            display: flex;
            justify-content: center;
            & img{
                width: 60%;
                }
        }

        & .modal{
            &-dialog{
                display: flex;
                align-items: center;
                min-height: calc(100% - (3rem * 2));
                max-width: 400px;
            }
            &-footer{
                padding:0 1rem 1rem;
            }

        }
    }
    .betsplaced{
        & .modal{
            &-dialog{
                max-width: 850px;
            }
        }
        &__search{
            display: grid;
            grid-template-columns: 1fr 12rem;
            &-status{
                display: grid;
                grid-template-columns: 1fr 1fr 1fr 7rem;
                align-items: end;
                gap: 0.5rem;
                background: #3c3c3c;
                border-radius: 0.25rem;
                padding: 0.5rem;
            }
        }
       
        & .btn{
            &.view,&.print{
                width:  2.5rem;
            }
            &.consult{ 
                display: flex;
                align-items: center;
                justify-content: space-evenly;
                background-color: #007a00;
            }
        }
        & .status{
            padding: 0.5rem;
            border-radius: 0.25rem;
            font-weight: 500;
            text-align: center;
            &.in-progress{
                background-color: #d9ab24;
            }
            &.canceled{
                background-color: #6007d3;
            }
            &.lost{
                background-color: #cc0a0a;
            }
            &.unpaid{
                background-color: #0c72c9;
            }
            &.paid{
                background-color: green;
            }
            &.refund{
                background-color: #81007a;
            }
        }
        &__table-container{
            max-height: 60vh;
            overflow: auto;
        }
    }
    .codevalidation{
        & .modal{
            &-dialog{
                max-width: 400px;
            }
            &-body{
                grid-template-columns: 1fr 6rem;
            }
        }

    }
    //panel main
    .racetrack{
        height:60vh;
        overflow: auto;
        &__bycountry{
            display: grid;
            grid-template-columns: 25% 60% 15%;
            align-items: center;
            justify-items: center;
            padding: 0 !important;
            background-color: #444444;
            box-shadow: inset 0px -150px 40px -112px rgba(0, 0, 0, 0.7);
            height: 3rem;
            font-weight: 500;
        }
        &__img{
            width: 2rem;
        }
        &__number{
            border-radius: 1rem;
            background-color: #646464;
            width: 1.2rem;
            text-align: center;
        }
        &__event{
            display: grid;
            grid-template-columns: 3.7rem 1fr 1.5rem;
            align-items: center;
            text-align: center;
            gap: 0.25rem;
            padding: 0.25rem;
            &.title{
                background-color: #444444;
            }&.racetr{
                background-color: #13181b;
                cursor:pointer;
                border-bottom: 1px solid grey;
                &:hover,&.active{
                    background: linear-gradient(45deg, #81007a, #cd0086);
                }
    
            }
            & .name{
                white-space: nowrap;
                text-overflow: ellipsis;
                overflow: hidden;
            }
        }

        
    }


    .panel{
        &__center{
            height: fit-content;
            background-color: #3e3e3e;
        }
    }
    .filter{
        &__countries{
            display: grid;
            justify-content: center;
            padding: 0.5rem;
            gap: 0.25rem;
        }
    }
    .upcoming{
        &__title{
            background-color: #3e3e3e;
            padding: 0.25rem;
            font-weight: 500;
        }
        &__races{
            display: grid;
            grid-template-columns: 50% 50%;
            background-color: #252525;
            overflow: auto;
            max-height: 14vh;
        }
        &__race{
            display: grid;
            grid-template-columns: 2.5rem 1fr 4rem 5rem;
            align-items: center;
            gap: 0.25rem;
            border: 1px solid #000;
            height: 3rem;
            padding: 0.5rem;
            cursor: pointer;
            &:hover{
                background: linear-gradient(45deg, #81007a, #cd0086);
            }
        }
        &__img{
            width: 2rem;
        }
    }
    .race{
        display: grid;
        gap: 0.25rem;
        padding: 0.5rem;
        &__data{
            display: flex;
            gap: 0.5rem;
            align-items: center;
            & img{
                width: 2rem;
            }
        }
        &__nraces{
            display: grid;
            grid-template-columns: auto 1fr;
            gap: 0.5rem;
            align-items: center;
            &--active{
                display: flex;
                gap: 0.25rem;
                align-items: center;
                flex-wrap: wrap;
            }
        }
        &__time-programs{
            display: grid;
            grid-template-columns: 1fr auto;
            gap: 0.5rem;
            align-items: center;
        }
        &__time{
            display: flex;
            gap: 0.25rem;
            align-items: center; 
        }
        &__start-in{
            color: #e0ae3f;
        }
        &__programs{
            display: flex;
            gap: 0.5rem;
            align-items: center;
            & img {
                width: 1.5rem;
                cursor: pointer;
            }
        }
        &__type-bet{
            display: flex;
            gap: 0.25rem;
        }
        &__wps{
            display: grid;
            grid-template-columns: 10% 10% 10% 5% 22% 14% 8% 6% 5% 5%;
            gap: 0.25rem;
            justify-items: center;
            padding: 0.4rem 0;
            align-items: center;
            border-bottom: 1px solid #000;
            &.titles{
                background-color: #000;
                font-size: 15px;
                font-weight: 500;
            }
            &.retired{
                grid-template-columns: 31% 5% 22% 14% 8% 6% 5% 5%;
                &.no-show{
                    grid-template-columns: 20.5% 5% 19% 19% 10% 8% 8% 6%;
                }
            }
            &.no-show{
                grid-template-columns: 10% 10% 5% 19% 19% 10% 8% 8% 6%;
            }
            &.no-wps {
                grid-template-columns: 10% 23% 23% 10% 10% 10% 10%;
            }

        }
        &__container-races{
            max-height: 55vh;
            overflow: auto;
        }
        &__nrace{
            display: flex;
            justify-content: center;
            align-items: center;
            position: relative;
            & img{
                width: 3.25rem;
            }
            & .r{
                &-1{
                    filter: invert(16%) sepia(74%) saturate(4403%) hue-rotate(355deg) brightness(78%) contrast(115%);
                }
                &-2{
                    filter: invert(95%) sepia(4%) saturate(1279%) hue-rotate(172deg) brightness(88%) contrast(86%);
                }
                &-3{
                    filter: invert(12%) sepia(93%) saturate(2292%) hue-rotate(214deg) brightness(90%) contrast(82%);
                }
                &-4{
                    filter: invert(82%) sepia(75%) saturate(4515%) hue-rotate(358deg) brightness(73%) contrast(104%);
                }
                &-5{
                    filter: invert(24%) sepia(54%) saturate(719%) hue-rotate(77deg) brightness(95%) contrast(86%);
                }
                &-6{
                    filter: invert(10%) sepia(17%) saturate(634%) hue-rotate(28deg) brightness(96%) contrast(88%);
                }
                &-7{
                    filter: invert(26%) sepia(88%) saturate(1377%) hue-rotate(355deg) brightness(90%) contrast(96%);
                }
                &-8{
                    filter: invert(54%) sepia(11%) saturate(1127%) hue-rotate(279deg) brightness(94%) contrast(90%);
                }
                &-9{
                    filter: invert(67%) sepia(93%) saturate(4927%) hue-rotate(146deg) brightness(92%) contrast(87%);
                }
                &-10{
                    filter: invert(12%) sepia(38%) saturate(7467%) hue-rotate(273deg) brightness(109%) contrast(106%);
                }
                &-11{
                    filter: invert(43%) sepia(1%) saturate(1443%) hue-rotate(267deg) brightness(96%) contrast(93%);
                }
                &-12{
                    filter: invert(49%) sepia(67%) saturate(421%) hue-rotate(77deg) brightness(93%) contrast(95%);
                }
                &-13{
                    filter: invert(19%) sepia(23%) saturate(677%) hue-rotate(345deg) brightness(95%) contrast(89%);
                }
                &-14{
                    filter: invert(11%) sepia(87%) saturate(3043%) hue-rotate(321deg) brightness(80%) contrast(112%);
                }
                &-15{
                    filter: invert(29%) sepia(10%) saturate(2589%) hue-rotate(358deg) brightness(104%) contrast(84%);
                }
                &-16{
                    filter: invert(14%) sepia(86%) saturate(4705%) hue-rotate(292deg) brightness(82%) contrast(98%);
                }
                &-17{
                    filter: invert(54%) sepia(74%) saturate(979%) hue-rotate(360deg) brightness(102%) contrast(105%);
                }
                &-18{
                    filter: invert(43%) sepia(68%) saturate(469%) hue-rotate(163deg) brightness(92%) contrast(89%);
                }
                &-19{
                    filter: invert(30%) sepia(19%) saturate(3555%) hue-rotate(288deg) brightness(104%) contrast(92%);
                }
                &-20{
                    filter: invert(67%) sepia(71%) saturate(387%) hue-rotate(28deg) brightness(90%) contrast(87%);
                }
                &-21{
                    filter: invert(69%) sepia(8%) saturate(2706%) hue-rotate(10deg) brightness(86%) contrast(101%);
                }
                &-22{
                    filter: invert(24%) sepia(97%) saturate(1636%) hue-rotate(251deg) brightness(84%) contrast(90%);
                }
                &-23{
                    filter: invert(97%) sepia(17%) saturate(801%) hue-rotate(292deg) brightness(86%) contrast(90%);
                }
                &-24{
                    filter: invert(17%) sepia(28%) saturate(5130%) hue-rotate(342deg) brightness(89%) contrast(93%);
                }
                &-25{
                    filter: invert(42%) sepia(89%) saturate(337%) hue-rotate(21deg) brightness(97%) contrast(96%);
                }
                &-26{
                    filter: invert(36%) sepia(75%) saturate(4960%) hue-rotate(32deg) brightness(90%) contrast(87%);
                }
                &-27{
                    filter: invert(42%) sepia(65%) saturate(2694%) hue-rotate(154deg) brightness(90%) contrast(87%);
                }
                &-28{
                    filter: invert(29%) sepia(42%) saturate(421%) hue-rotate(159deg) brightness(92%) contrast(92%);
                }
                
            }
        }
        &__num{
            position: absolute;
            font-weight: 600;
            margin-bottom: 0.25rem;
        }

    }
    //
    .table{
        width: 100%;
        text-align: justify;
        border-collapse: collapse;
        &>:not(caption)>*>* {
            padding: 0.5rem;
            background-color: transparent;
            border-bottom-width: 1px;
            box-shadow: inset 0 0 0 9999px transparent;
        }
        &.scroll{
            & thead{
                position: sticky;
                top: -1px;
                background: #252525;
            }
        }
    }
    .tbody, td, tfoot, th, thead, tr{
        border-color: inherit;
          border-style: solid;
          border-width: 0;
    }
    //spinenr animted
    .load{
        display: flex;
        justify-content: center;
    }
    .spinner {
        display: inline-block;
        width: 2rem;
        height: 2rem;
        vertical-align: -0.125em;
        border: 0.25em solid currentColor;
        border-right-color: transparent;
        border-radius: 50%;
        -webkit-animation: .75s linear infinite spinner-default;
        animation: .75s linear infinite spinner-default;
    }
    @-webkit-keyframes spinner-default {
      to {
        transform: rotate(360deg);
      }
    }
    
    @keyframes spinner-default {
      to {
        transform: rotate(360deg);
      }
    }
    //teclado virtual
    .dropdown{
        position: relative;
        &-menu {
            position: absolute;
            z-index: 1056;
            display: none;
            min-width: 100%;
            margin: 0;
            text-align: left;
            list-style: none;
            background-color: #444;
            background-clip: padding-box;
            border-radius: 0.25rem;
            &.show {
                display: block;
            }
        }
        &-item {
            display: block;
            width: 100%;
            padding: 0.25rem 1rem;
            clear: both;
            font-weight: 400;
            color: #212529;
            text-align: inherit;
            text-decoration: none;
            white-space: nowrap;
            background-color: transparent;
            border: 0;
        }
    }

    .keyboard{
        &.dropdown-menu{
            transform: translate(-50%, -50%) !important;
            top: 80% !important;
            left: 50% !important;
            min-width: auto;
            height: fit-content; 
        }
        &__body{
            display: grid;
            gap: 0.5rem;
            padding: 1rem;
        }
        &__keys{
            display: flex;
            gap: 0.5rem;
            justify-content: center;
        }
        &__numbers{
            display: grid;
            grid-template-columns: repeat(3,auto);
            gap: 0.5rem;
            justify-items: center;
            margin: auto;
        }
        &__info-rider{
            display: flex;
            align-items: center;
        }
        
    }

}


/*PDF CSS*/
.gaceta-pdf .modal-dialog{
    height: calc(100vh - 6rem);
    max-width: 1200px;
}
.gaceta-pdf .modal-content{
  height: 100%;
}

//MODAL GLOBAL
.modal {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1055;
  display: none;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  outline: 0;
    &-dialog {
        position: relative;
        max-width: 550px;
        margin: 3rem auto;
        pointer-events: none;
    }
    &.fade &-dialog{
        transition: transform .3s ease-out;
        transform: translate(0,-50px);
    }
    &.show &-dialog{
        transform: none;
    }
    &-content {
        pointer-events: auto;
        background-color: #444444;
        border-radius: 0.3rem;
        width: 100%;
    }
    &-header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        text-transform:uppercase;
        border-bottom: 1px solid #6d6d6d;
        padding: 1rem;
        font-size: 18px;
        font-weight: 500;
    }
    &-body{
        display: grid;
        gap: 0.5rem;
        padding: 1rem;
    }
    &-backdrop {
        position: fixed;
        top: 0;
        left: 0;
        z-index: 1050;
        width: 100vw;
        height: 100vh;
        background-color: #000;
        &.fade{
            opacity: 0;
        }
        &.show {
            opacity: .5;
        }
    }
}

.fade {
    transition: opacity .15s linear;
}
.fade:not(.show) {
    opacity: 0;
}
//SCROOL DESING

/*ACORDEON*/
.collapsing {
    height: 0;
    overflow: hidden;
    transition: height .35s ease;
}
.collapse:not(.show) {
    display: none;
}
//TAB PILLS
 
.tab-content>.tab-pane {
    display: none;
}

.tab-content>.active {
  display: block;
}
//IMG SIZES
.img-fluid{
    max-width: 100%;
    height: auto;
  }
