.ruhv2 .btn.option, .ruhv2 .header__logo {
  display: flex;
}
.ruhv2 .btn.option, .ruhv2 .header__logo {
  align-items: center;
}
.ruhv2 .btn.option, .ruhv2 .header__logo {
  justify-content: center;
}
.ruhv2 .btn:hover, .ruhv2 .slc:hover {
  filter: brightness(0.9);
}

.ruhv2 .btn, .ruhv2 .slc {
  cursor: pointer;
  font-size: inherit;
  width: 100%;
  padding: 0.5rem;
  border: 1px solid transparent;
  background-color: #7e7e7e;
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.ruhv2 .ipt {
  font-size: inherit;
  font-family: inherit;
  border: 1px solid transparent;
  background-color: #252525;
  width: 100%;
  border-radius: 0.25rem;
  padding: 0.5rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.ruhv2 .ipt:focus {
  box-shadow: 0 0 0 0.1rem #444444;
  border: 1px solid transparent;
}
.ruhv2 .ipt::-moz-placeholder {
  color: rgb(133, 133, 133);
}
.ruhv2 .ipt::placeholder {
  color: rgb(133, 133, 133);
}

.ruhv2 [type=number].ipt::-webkit-inner-spin-button, .ruhv2 [type=number].ipt::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.ruhv2 [type=number].ipt {
  -moz-appearance: textfield;
}

.ruhv2 .slc {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%23fff' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M2 5l6 6 6-6'/%3e%3c/svg%3e");
  background-repeat: no-repeat;
  background-position: right 0.5rem center;
  background-size: 14px 14px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.ruhv2 {
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 14px;
  background-color: #030303;
}
.ruhv2 * {
  color: #fff;
}
.ruhv2 :focus, .ruhv2 :focus-visible {
  outline: 0;
}
.ruhv2 :disabled {
  filter: brightness(0.7);
}
.ruhv2 :disabled:hover {
  filter: brightness(0.7);
}

.ruhv2, body, p, ul {
  margin: 0;
}

/*h6, h5, h4, h3, h2, h1{
    margin: 0;
    font-weight: 500;
}*/
.ruhv2 {
  height: 100vh;
  display: grid;
  grid-template-rows: 3rem calc(100vh - 3.2rem);
  gap: 0.2rem;
}
.ruhv2 ::-webkit-scrollbar {
  width: 6px;
  border-radius: 5px;
}
.ruhv2 ::-webkit-scrollbar-track {
  background: #4e4e4e;
}
.ruhv2 ::-webkit-scrollbar-thumb {
  background: #808080;
}
.ruhv2 .header {
  display: grid;
  grid-template-columns: calc(20% - 0.25rem) 60% calc(20% - 0.25rem);
  background-color: #343434;
  height: 3rem;
  gap: 0.25rem;
}
.ruhv2 .header__logo {
  margin: 0 2rem;
}
.ruhv2 .header__options {
  display: grid;
  grid-template-columns: auto auto;
  align-items: center;
  gap: 0.25rem;
}
.ruhv2 .header__options--center {
  display: grid;
  align-items: center;
  grid-template-columns: repeat(6, 10%) 1fr 1fr;
  gap: 0.25rem;
}
.ruhv2 .header__text {
  padding: 0 0.5rem;
  background-color: #4a4a4a;
  font-weight: 600;
}
.ruhv2 .header .currency {
  color: red;
}
.ruhv2 .btn.notification {
  position: relative;
}
.ruhv2 .btn.notification .autoservice {
  position: absolute;
  top: 3px;
  border: 1px solid red;
  border-radius: 100%;
  min-width: 18px;
  font-size: 12px;
  right: 3px;
}
.ruhv2 .btn.option {
  height: 2.5rem;
  background-color: #4e4e4e;
}
.ruhv2 .btn.option i {
  font-size: 18px;
}
.ruhv2 .btn.race {
  height: 4rem;
  padding: 0.25rem;
  font-size: 10px;
  display: grid;
  justify-items: center;
  align-items: center;
  background: linear-gradient(45deg, rgb(19, 19, 19) 0%, rgb(68, 68, 68) 65%, rgb(76, 76, 76) 100%);
}
.ruhv2 .btn.race.active {
  background: linear-gradient(45deg, #81007a, #cd0086);
}
.ruhv2 .btn.race img {
  width: 2.8rem;
}
.ruhv2 .btn.nrace {
  width: 2rem;
  padding: 0.25rem;
}
.ruhv2 .btn.nrace.active {
  background: linear-gradient(45deg, #81007a, #cd0086);
}
.ruhv2 .btn.type-bet {
  width: 5.5rem;
}
.ruhv2 .btn.type-bet.active {
  background: linear-gradient(45deg, #81007a, #cd0086);
}
.ruhv2 .btn.close {
  width: auto;
  background: transparent;
  padding: 0;
}
.ruhv2 .btn.close i:hover {
  color: #bf0cac;
}
.ruhv2 .btn.close-pdf {
  position: absolute;
  width: 2.25rem;
  height: 2.25rem;
  right: 1rem;
  top: 0.5rem;
  background-color: #b40606;
  font-size: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.ruhv2 .btn.key {
  width: 3rem;
  height: 3rem;
  font-size: 20px;
}
.ruhv2 .btn.key.space {
  width: 10rem;
  color: transparent;
  background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'><path d='M21,9c-0.6,0-1,0.4-1,1v3H4v-3c0-0.6-0.4-1-1-1s-1,0.4-1,1v4c0,0.6,0.4,1,1,1h18c0.6,0,1-0.4,1-1v-4C22,9.4,21.6,9,21,9z' stroke='%23fff' stroke-width='2'/></svg>");
  background-repeat: no-repeat;
  background-size: 25px;
  background-position: center;
}
.ruhv2 .btn.key.backspace {
  background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 44.18 44.18'><path d='M10.625,5.09L0,22.09l10.625,17H44.18v-34H10.625z M42.18,37.09H11.734l-9.375-15l9.375-15H42.18V37.09z' stroke='%23fff' stroke-width='2'/><polygon points='18.887,30.797 26.18,23.504 33.473,30.797 34.887,29.383 27.594,22.09 34.887,14.797 33.473,13.383 26.18,20.676 18.887,13.383 17.473,14.797 24.766,22.09 17.473,29.383' stroke='%23fff' stroke-width='2'/></svg>");
  background-size: 25px;
  background-repeat: no-repeat;
  background-position: center;
  color: transparent;
}
.ruhv2 .btn.filter {
  padding: 0.25rem;
  background-color: #444444;
  border-radius: 0;
}
.ruhv2 .btn.filter::after {
  display: inline-block;
  margin-left: 0.4rem;
  content: "";
  border-top: 0.35rem solid;
  border-right: 0.35rem solid transparent;
  border-bottom: 0;
  border-left: 0.35rem solid transparent;
  vertical-align: middle;
}
.ruhv2 .ipt.data {
  border-radius: 0;
  padding: 0 0.5rem;
}
.ruhv2 .ipt.date {
  background-color: #7e7e7e;
  padding: 0.35rem 0.5rem;
}
.ruhv2 .ipt.date[type=date] {
  min-width: 100%;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  position: relative;
}
.ruhv2 .ipt.date[type=date]::-webkit-calendar-picker-indicator {
  filter: invert(100%) sepia(93%) saturate(0%) hue-rotate(127deg) brightness(102%) contrast(102%);
}
.ruhv2 .ipt.search {
  background-color: #252525;
  width: 100%;
  color: inherit;
  background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'><circle cx='11' cy='11' r='7' fill='none' stroke='%23fff' stroke-width='2'/><line x1='20' y1='23' x2='15' y2='17' stroke='%23fff' stroke-width='2'/></svg>");
  background-repeat: no-repeat;
  background-size: 18px 18px;
  padding-right: 2rem;
  background-position: right 0.5rem center;
}
.ruhv2 .ipt.search:focus {
  box-shadow: 0 0 0 0.1rem #464646;
}
.ruhv2 .main {
  display: grid;
  grid-template-columns: calc(20% - 0.25rem) 60% calc(20% - 0.25rem);
  gap: 0.25rem;
}
.ruhv2 .main__left {
  display: grid;
  grid-template-columns: 25% 75%;
}
.ruhv2 .limit-ap {
  display: grid;
  grid-template-columns: repeat(3, auto);
  background-color: #444444;
  border-radius: 0.25rem;
  gap: 0.25rem;
  padding: 0.5rem;
}
.ruhv2 .talon {
  display: flex;
  color: #e0ae3f;
  text-align: center;
  padding: 0.2rem 0;
  border: 1px solid #000;
  border-radius: 0.3rem;
  align-items: center;
  justify-content: space-around;
  text-transform: uppercase;
}
.ruhv2 .t-apuestas {
  min-height: 60vh;
  background-color: #444444;
}
.ruhv2 .autoservice__options {
  display: flex;
  gap: 0.5rem;
  justify-content: end;
}
.ruhv2 .autoservice .btn {
  width: 2.5rem;
}
.ruhv2 .autoservice .btn.reload {
  background-color: #007bff;
}
.ruhv2 .autoservice .btn.delete {
  background-color: #dc3545;
}
.ruhv2 .autoservice__count {
  position: absolute;
  top: 3px;
  border: 1px solid red;
  border-radius: 100%;
  width: 18px;
  background-color: transparent;
  font-size: 12px;
  right: 3px;
  pointer-events: none;
  padding: 0;
  text-align: center;
}
.ruhv2 .autoservice__users {
  max-height: 70vh;
  overflow: auto;
}
.ruhv2 .userticket__ticket {
  display: grid;
  gap: 1rem;
}
.ruhv2 .userticket__data {
  display: grid;
  grid-template-columns: auto auto;
  align-items: center;
  gap: 0.25rem;
}
.ruhv2 .userticket__betinfo {
  display: grid;
  gap: 0.25rem;
  grid-template-columns: repeat(3, auto);
  justify-content: space-around;
  padding-bottom: 0.5rem;
  border-bottom: 1px solid grey;
}
.ruhv2 .userticket__betdata {
  max-height: 35vh;
  overflow: auto;
}
.ruhv2 .userticket__player {
  font-size: 1.5rem;
  text-transform: uppercase;
}
.ruhv2 .userticket__codebar {
  display: flex;
  justify-content: center;
}
.ruhv2 .userticket__codebar img {
  width: 60%;
}
.ruhv2 .userticket .modal-dialog {
  display: flex;
  align-items: center;
  min-height: calc(100% - 6rem);
  max-width: 400px;
}
.ruhv2 .userticket .modal-footer {
  padding: 0 1rem 1rem;
}
.ruhv2 .betsplaced .modal-dialog {
  max-width: 850px;
}
.ruhv2 .betsplaced__search {
  display: grid;
  grid-template-columns: 1fr 12rem;
}
.ruhv2 .betsplaced__search-status {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 7rem;
  align-items: end;
  gap: 0.5rem;
  background: #3c3c3c;
  border-radius: 0.25rem;
  padding: 0.5rem;
}
.ruhv2 .betsplaced .btn.view, .ruhv2 .betsplaced .btn.print {
  width: 2.5rem;
}
.ruhv2 .betsplaced .btn.consult {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background-color: #007a00;
}
.ruhv2 .betsplaced .status {
  padding: 0.5rem;
  border-radius: 0.25rem;
  font-weight: 500;
  text-align: center;
}
.ruhv2 .betsplaced .status.in-progress {
  background-color: #d9ab24;
}
.ruhv2 .betsplaced .status.canceled {
  background-color: #6007d3;
}
.ruhv2 .betsplaced .status.lost {
  background-color: #cc0a0a;
}
.ruhv2 .betsplaced .status.unpaid {
  background-color: #0c72c9;
}
.ruhv2 .betsplaced .status.paid {
  background-color: green;
}
.ruhv2 .betsplaced .status.refund {
  background-color: #81007a;
}
.ruhv2 .betsplaced__table-container {
  max-height: 60vh;
  overflow: auto;
}
.ruhv2 .codevalidation .modal-dialog {
  max-width: 400px;
}
.ruhv2 .codevalidation .modal-body {
  grid-template-columns: 1fr 6rem;
}
.ruhv2 .racetrack {
  height: 60vh;
  overflow: auto;
}
.ruhv2 .racetrack__bycountry {
  display: grid;
  grid-template-columns: 25% 60% 15%;
  align-items: center;
  justify-items: center;
  padding: 0 !important;
  background-color: #444444;
  box-shadow: inset 0px -150px 40px -112px rgba(0, 0, 0, 0.7);
  height: 3rem;
  font-weight: 500;
}
.ruhv2 .racetrack__img {
  width: 2rem;
}
.ruhv2 .racetrack__number {
  border-radius: 1rem;
  background-color: #646464;
  width: 1.2rem;
  text-align: center;
}
.ruhv2 .racetrack__event {
  display: grid;
  grid-template-columns: 3.7rem 1fr 1.5rem;
  align-items: center;
  text-align: center;
  gap: 0.25rem;
  padding: 0.25rem;
}
.ruhv2 .racetrack__event.title {
  background-color: #444444;
}
.ruhv2 .racetrack__event.race {
  background-color: #13181b;
  cursor: pointer;
  border-bottom: 1px solid grey;
}
.ruhv2 .racetrack__event.race:hover {
  background: linear-gradient(45deg, #81007a, #cd0086);
}
.ruhv2 .racetrack__event.race.active {
  background: linear-gradient(45deg, #81007a, #cd0086);
}
.ruhv2 .racetrack__event .name {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.ruhv2 .panel__center {
  height: -moz-fit-content;
  height: fit-content;
  background-color: #3e3e3e;
}
.ruhv2 .filter__countries {
  display: grid;
  justify-content: center;
  padding: 0.5rem;
  gap: 0.25rem;
}
.ruhv2 .upcoming__title {
  background-color: #3e3e3e;
  padding: 0.25rem;
  font-weight: 500;
}
.ruhv2 .upcoming__races {
  display: grid;
  grid-template-columns: 50% 50%;
  background-color: #252525;
  overflow: auto;
  max-height: 14vh;
}
.ruhv2 .upcoming__race {
  display: grid;
  grid-template-columns: 2.5rem 1fr 4rem 5rem;
  align-items: center;
  gap: 0.25rem;
  border: 1px solid #000;
  height: 3rem;
  padding: 0.5rem;
  cursor: pointer;
}
.ruhv2 .upcoming__race:hover {
  background: linear-gradient(45deg, #81007a, #cd0086);
}
.ruhv2 .upcoming__img {
  width: 2rem;
}
.ruhv2 .race {
  display: grid;
  gap: 0.25rem;
  padding: 0.5rem;
}
.ruhv2 .race__data {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}
.ruhv2 .race__data img {
  width: 2rem;
}
.ruhv2 .race__nraces {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 0.5rem;
  align-items: center;
}
.ruhv2 .race__nraces--active {
  display: flex;
  gap: 0.25rem;
  align-items: center;
  flex-wrap: wrap;
}
.ruhv2 .race__time-programs {
  display: grid;
  grid-template-columns: 1fr auto;
  gap: 0.5rem;
  align-items: center;
}
.ruhv2 .race__time {
  display: flex;
  gap: 0.25rem;
  align-items: center;
}
.ruhv2 .race__start-in {
  color: #e0ae3f;
}
.ruhv2 .race__programs {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}
.ruhv2 .race__programs img {
  width: 1.5rem;
  cursor: pointer;
}
.ruhv2 .race__type-bet {
  display: flex;
  gap: 0.25rem;
}
.ruhv2 .race__wps {
  display: grid;
  grid-template-columns: 10% 10% 10% 5% 22% 14% 8% 6% 5% 5%;
  gap: 0.25rem;
  justify-items: center;
  padding: 0.4rem 0;
  align-items: center;
  border-bottom: 1px solid #000;
}
.ruhv2 .race__wps.titles {
  background-color: #000;
  font-size: 15px;
  font-weight: 500;
}
.ruhv2 .race__wps.retired {
  grid-template-columns: 31% 5% 22% 14% 8% 6% 5% 5%;
}
.ruhv2 .race__wps.retired.no-show {
  grid-template-columns: 20.5% 5% 19% 19% 10% 8% 8% 6%;
}
.ruhv2 .race__wps.no-show {
  grid-template-columns: 10% 10% 5% 19% 19% 10% 8% 8% 6%;
}
.ruhv2 .race__wps.no-wps {
  grid-template-columns: 10% 23% 23% 10% 10% 10% 10%;
}
.ruhv2 .race__container-races {
  max-height: 55vh;
  overflow: auto;
}
.ruhv2 .race__nrace {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.ruhv2 .race__nrace img {
  width: 3.25rem;
}
.ruhv2 .race__nrace .r-1 {
  filter: invert(16%) sepia(74%) saturate(4403%) hue-rotate(355deg) brightness(78%) contrast(115%);
}
.ruhv2 .race__nrace .r-2 {
  filter: invert(95%) sepia(4%) saturate(1279%) hue-rotate(172deg) brightness(88%) contrast(86%);
}
.ruhv2 .race__nrace .r-3 {
  filter: invert(12%) sepia(93%) saturate(2292%) hue-rotate(214deg) brightness(90%) contrast(82%);
}
.ruhv2 .race__nrace .r-4 {
  filter: invert(82%) sepia(75%) saturate(4515%) hue-rotate(358deg) brightness(73%) contrast(104%);
}
.ruhv2 .race__nrace .r-5 {
  filter: invert(24%) sepia(54%) saturate(719%) hue-rotate(77deg) brightness(95%) contrast(86%);
}
.ruhv2 .race__nrace .r-6 {
  filter: invert(10%) sepia(17%) saturate(634%) hue-rotate(28deg) brightness(96%) contrast(88%);
}
.ruhv2 .race__nrace .r-7 {
  filter: invert(26%) sepia(88%) saturate(1377%) hue-rotate(355deg) brightness(90%) contrast(96%);
}
.ruhv2 .race__nrace .r-8 {
  filter: invert(54%) sepia(11%) saturate(1127%) hue-rotate(279deg) brightness(94%) contrast(90%);
}
.ruhv2 .race__nrace .r-9 {
  filter: invert(67%) sepia(93%) saturate(4927%) hue-rotate(146deg) brightness(92%) contrast(87%);
}
.ruhv2 .race__nrace .r-10 {
  filter: invert(12%) sepia(38%) saturate(7467%) hue-rotate(273deg) brightness(109%) contrast(106%);
}
.ruhv2 .race__nrace .r-11 {
  filter: invert(43%) sepia(1%) saturate(1443%) hue-rotate(267deg) brightness(96%) contrast(93%);
}
.ruhv2 .race__nrace .r-12 {
  filter: invert(49%) sepia(67%) saturate(421%) hue-rotate(77deg) brightness(93%) contrast(95%);
}
.ruhv2 .race__nrace .r-13 {
  filter: invert(19%) sepia(23%) saturate(677%) hue-rotate(345deg) brightness(95%) contrast(89%);
}
.ruhv2 .race__nrace .r-14 {
  filter: invert(11%) sepia(87%) saturate(3043%) hue-rotate(321deg) brightness(80%) contrast(112%);
}
.ruhv2 .race__nrace .r-15 {
  filter: invert(29%) sepia(10%) saturate(2589%) hue-rotate(358deg) brightness(104%) contrast(84%);
}
.ruhv2 .race__nrace .r-16 {
  filter: invert(14%) sepia(86%) saturate(4705%) hue-rotate(292deg) brightness(82%) contrast(98%);
}
.ruhv2 .race__nrace .r-17 {
  filter: invert(54%) sepia(74%) saturate(979%) hue-rotate(360deg) brightness(102%) contrast(105%);
}
.ruhv2 .race__nrace .r-18 {
  filter: invert(43%) sepia(68%) saturate(469%) hue-rotate(163deg) brightness(92%) contrast(89%);
}
.ruhv2 .race__nrace .r-19 {
  filter: invert(30%) sepia(19%) saturate(3555%) hue-rotate(288deg) brightness(104%) contrast(92%);
}
.ruhv2 .race__nrace .r-20 {
  filter: invert(67%) sepia(71%) saturate(387%) hue-rotate(28deg) brightness(90%) contrast(87%);
}
.ruhv2 .race__nrace .r-21 {
  filter: invert(69%) sepia(8%) saturate(2706%) hue-rotate(10deg) brightness(86%) contrast(101%);
}
.ruhv2 .race__nrace .r-22 {
  filter: invert(24%) sepia(97%) saturate(1636%) hue-rotate(251deg) brightness(84%) contrast(90%);
}
.ruhv2 .race__nrace .r-23 {
  filter: invert(97%) sepia(17%) saturate(801%) hue-rotate(292deg) brightness(86%) contrast(90%);
}
.ruhv2 .race__nrace .r-24 {
  filter: invert(17%) sepia(28%) saturate(5130%) hue-rotate(342deg) brightness(89%) contrast(93%);
}
.ruhv2 .race__nrace .r-25 {
  filter: invert(42%) sepia(89%) saturate(337%) hue-rotate(21deg) brightness(97%) contrast(96%);
}
.ruhv2 .race__nrace .r-26 {
  filter: invert(36%) sepia(75%) saturate(4960%) hue-rotate(32deg) brightness(90%) contrast(87%);
}
.ruhv2 .race__nrace .r-27 {
  filter: invert(42%) sepia(65%) saturate(2694%) hue-rotate(154deg) brightness(90%) contrast(87%);
}
.ruhv2 .race__nrace .r-28 {
  filter: invert(29%) sepia(42%) saturate(421%) hue-rotate(159deg) brightness(92%) contrast(92%);
}
.ruhv2 .race__num {
  position: absolute;
  font-weight: 600;
  margin-bottom: 0.25rem;
}
.ruhv2 .table {
  width: 100%;
  text-align: justify;
  border-collapse: collapse;
}
.ruhv2 .table > :not(caption) > * > * {
  padding: 0.5rem;
  background-color: transparent;
  border-bottom-width: 1px;
  box-shadow: inset 0 0 0 9999px transparent;
}
.ruhv2 .table.scroll thead {
  position: sticky;
  top: -1px;
  background: #252525;
}
.ruhv2 .tbody, .ruhv2 td, .ruhv2 tfoot, .ruhv2 th, .ruhv2 thead, .ruhv2 tr {
  border-color: inherit;
  border-style: solid;
  border-width: 0;
}
.ruhv2 .load {
  display: flex;
  justify-content: center;
}
.ruhv2 .spinner {
  display: inline-block;
  width: 2rem;
  height: 2rem;
  vertical-align: -0.125em;
  border: 0.25em solid currentColor;
  border-right-color: transparent;
  border-radius: 50%;
  animation: 0.75s linear infinite spinner-default;
}
@keyframes spinner-default {
  to {
    transform: rotate(360deg);
  }
}
.ruhv2 .dropdown {
  position: relative;
}
.ruhv2 .dropdown-menu {
  position: absolute;
  z-index: 1056;
  display: none;
  min-width: 100%;
  margin: 0;
  text-align: left;
  list-style: none;
  background-color: #444;
  background-clip: padding-box;
  border-radius: 0.25rem;
}
.ruhv2 .dropdown-menu.show {
  display: block;
}
.ruhv2 .dropdown-item {
  display: block;
  width: 100%;
  padding: 0.25rem 1rem;
  clear: both;
  font-weight: 400;
  color: #212529;
  text-align: inherit;
  text-decoration: none;
  white-space: nowrap;
  background-color: transparent;
  border: 0;
}
.ruhv2 .keyboard.dropdown-menu {
  transform: translate(-50%, -50%) !important;
  top: 80% !important;
  left: 50% !important;
  min-width: auto;
  height: -moz-fit-content;
  height: fit-content;
}
.ruhv2 .keyboard__body {
  display: grid;
  gap: 0.5rem;
  padding: 1rem;
}
.ruhv2 .keyboard__keys {
  display: flex;
  gap: 0.5rem;
  justify-content: center;
}
.ruhv2 .keyboard__info-rider {
  display: flex;
  align-items: center;
}
.ruhv2 .keyboard__numbers {
  display: grid;
  grid-template-columns: repeat(3, auto);
  gap: 0.5rem;
  justify-items: center;
  margin: auto;
}

/*PDF CSS*/
.gaceta-pdf .modal-dialog {
  height: calc(100vh - 6rem);
  max-width: 1200px;
}

.gaceta-pdf .modal-content {
  height: 100%;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1055;
  display: none;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  outline: 0;
}
.modal-dialog {
  position: relative;
  max-width: 550px;
  margin: 3rem auto;
  pointer-events: none;
}
.modal.fade .modal-dialog {
  transition: transform 0.3s ease-out;
  transform: translate(0, -50px);
}
.modal.show .modal-dialog {
  transform: none;
}
.modal-content {
  pointer-events: auto;
  background-color: #444444;
  border-radius: 0.3rem;
}
.modal-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-transform: uppercase;
  border-bottom: 1px solid #6d6d6d;
  padding: 1rem;
  font-size: 18px;
  font-weight: 500;
}
.modal-body {
  display: grid;
  gap: 0.5rem;
  padding: 1rem;
}
.modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1050;
  width: 100vw;
  height: 100vh;
  background-color: #000;
}
.modal-backdrop.fade {
  opacity: 0;
}
.modal-backdrop.show {
  opacity: 0.5;
}

.fade {
  transition: opacity 0.15s linear;
}

.fade:not(.show) {
  opacity: 0;
}

/*ACORDEON*/
.collapsing {
  height: 0;
  overflow: hidden;
  transition: height 0.35s ease;
}

.collapse:not(.show) {
  display: none;
}

.tab-content > .tab-pane {
  display: none;
}

.tab-content > .active {
  display: block;
}

.img-fluid {
  max-width: 100%;
  height: auto;
}/*# sourceMappingURL=styles.css.map */